@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Dancing Script', cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background: url("./img/bg.png") repeat;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  cursor: pointer;
  color: #fff;
  flex: .5;
  position: relative;
  margin: 10px;
  transition: flex .7s ease-in;
}

.panel h3 {
  font-size: 24px;
  text-shadow: 0 0 5px #000;
  position: absolute;
  bottom: 30px;
  left: 30px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity .3s ease-in .4s;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
